@model OnlineEducationalPlatformNEW.Models.Courses

@{
    ViewData["Title"] = "Enter Course ID";
}

<h2 class="text-center user-select-none">@ViewData["Title"]</h2>

<div class="row user-select-none">
    <div class="col-md-4 mx-auto text-center">
        <form asp-action="EnterCourseId" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CourseId" class="control-label">Course Id</label>
                <input asp-for="CourseId" class="form-control" />
                <span asp-validation-for="CourseId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-secondary btn-md" onclick="location.href='@Url.Action("Index")'">Back to List</button>
            </div>
        </form>
    </div>
</div>

